{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/links.css') }}" />

 <div class="div-alin">
        <div class="form-group" id="form-select">
          <div class="form-group2">
            <label>CATALOG LINKS</label>
            <br>
            <br>
            <div class="my-buttons">
              <button type="submit" class="btn btn-info" id="button-item"><a href="static/media/TA.pdf" target="_blank" class="button-item">INSTRUMENTATION CABLE - (TA TYPE)</a></button>

              <button type="submit" class="btn btn-info"><a href="static/media/TAP.pdf" target="_blank" class="button-item">INSTRUMENTATION CABLE - (TAP TYPE)</a></button>

              <button type="submit" class="btn btn-info"><a href="static/media/TM.pdf" target="_blank" class="button-item">INSTRUMENTATION CABLE - (TM TYPE)</a></button>

              <button type="submit" class="btn btn-info"><a href="static/media/TMP.pdf" target="_blank" class="button-item">INSTRUMENTATION CABLE - (TMP TYPE)</a></button>

              <button type="submit" class="btn btn-info"><a href="https://dacotace.com.br/produto.asp?id=9" target="_blank" class="button-item">INSTRUMENTATION CABLE - (CLASS 2)</a></button>

              <button type="submit" class="btn btn-info"><a href="https://www.prysmiangroupcatalogue.com/portugal/cabos-baixa-media-tensao/" target="_blank" class="button-item">CABLE - (PRYSMAN)</a></button>

              <button type="submit" class="btn btn-info"><a href="https://pt.prysmian.com/catalogos-online/catalogo-cabos-de-baixa-e-media-tensao" target="_blank" class="button-item">CABLE - (PRYSMAN) 2</a></button>

              <button type="submit" class="btn btn-info"><a href="https://br.prysmian.com/sites/default/files/atoms/files/IN%20_002_01_PT_BIC-300.pdf" target="_blank" class="button-item">INSTRUMENTATION CABLE - (PRYSMAN) 1</a></button>

              <button type="submit" class="btn btn-info"><a href="https://www.helenge.com.br/uploads/1fc7e57bdeb4552967885b009aa6c132.pdf" target="_blank" class="button-item">NSTRUMENTATION CABLE - (PRYSMAN) 2</a></button>

              <button type="submit" class="btn btn-info"><a href="https://br.prysmian.com/sites/default/files/atoms/files/CO_SUB_04_PT_01_CFOA-SM-DDR-S%20002-144FO%20NR-LSZH.pdf" target="_blank" class="button-item">DIELECTRIC OPTICAL CABLE ANTI-RODENT DUCT</a></button>
            </div>

          </div>
        </div>
      </div>
      </section>
    </div>


{% endblock %}